body {
	max-width: 800px;
	margin: 0 auto;
}

.field-buttons {
	height: 50px;
	width: 250px;
	display: flex;
	justify-content: center;
	margin: 10px auto;
}


button {
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
}

.clear-btn {
	height: 40px;
	width: 110px;
	margin-right: 10px;
}

.restore-btn {
	height: 40px;
	width: 130px;
}

.black {
	background-color: black;
}
